.pil {
    font-size: 120px; 
    color: black; 
}
body {
    color: blue;
}
.ar {
    color: blue;
}

body {
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(135deg, #38bdf8, #8b5cf6);
}

.form-box {
    width: 500px;
    height: 600px;
    background: white;
    position: absolute;
    right: 50px;
    top: 100px;
    border-radius: 24px;
    border: 1px solid #555;


.form-box label,
.form-box input {
 display: block;
}

.form-box input{
    width: 400px;
    height: 40px;
}

.form-box label {
    margin-top: 20px;
}

.form-box input {
    border:1px solid #aaa;
    border-radius: 8px;
}

.form-box input {
    padding: 10px;
}

.form-box input {
    box-sizing: border-box;
}
